.r
 .c3
  img.img(src=siteurl + "/img/akcija-0.jpg", alt="Akcija 0")
 .c3
  img.img(src=siteurl + "/img/akcija-1.jpg", alt="Akcija 1")
 .c3
  img.img(src=siteurl + "/img/akcija-2.jpg", alt="Akcija 2")

//- .r 
//-  .c5
//-   img.img(src=siteurl + "/img/kvepia.jpg", alt="Naujiena")
//-   .news
//-    h2 Naujienos
//-    h3 „MIEGO IMPERIJA" kviečia atrasti savo namų kvapą
//-  .c5
//-   img.img(src=siteurl + "/img/ruduo.jpg", alt="Naujiena")
//-   .news
//-    h2 Renginiai
//-    h3 2017-09-05 „RUDENS GĖRYBIŲ MUGĖ“ kvies švęsti rudenį