extends ./default.pug

block main
 .r
  .c2
   h1 Visos parduotuvės
   ul
    each filtras in ['shop', 'maistas-gerimai', 'sporto-laisvalaikio']
     li(onclick="changes('" + filtras + "')") #{filtras}
  .c8
   each page in collections.parduotuves
    if (page.layout == 'parduotuve.pug')
     .shop(class=page.filtras)
      -var imgurl = page.logo || 'img/logo.png'
      img(src= siteurl + imgurl, alt=page.title)
      h2
       a(href=siteurl + page.path) #{page.title}
      p.tipas #{page.tipas}
      //-   p Vieta žemėlapyje: #{pagemap}
      //-   p Telefono nr.:#{page.tel}
      //-   p El.pašto adresas: #{page.mail}
      p.laikas!= page.darbo_laikas
      //-   p Vieta žemėlapyje: #{pagemap}

 include ./partials/filter.html
